// @import "utils";

@import "./blocks/_header";
@import "./blocks/_page";
@import "./blocks/_footer";
@import "./blocks/_form";

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
